<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- name = name of the connection; string = the details of the connection;  -->
    <!-- Trusted_Connection = use Windows credentials(so no one that sees this config file will see passwors or usernames here) -->
    <!-- If you need to have a UN/PWD here, grant that user in SQL only "Execute Stored Procedures" acces(no connection/read/write access etc) -->
    <add name="Tournaments" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
    <!--<add name="Tournaments" connectionString="Server=.\ROCLJ1ESRL-A823\LOCALDB#49815563;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>